@font-face {
    font-family: Sublima-ExtraBold;
    src: url(./fuente/Sublima-ExtraBold.otf);
}

@font-face {
    font-family: Sublima-Light;
    src: url(./fuente/Sublima-Light.otf);
}

* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}


.uno {
    width: 100%;
    height: 100vh;
    background-image: url(img/Brillante-suave.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.uno-uno {
    width: 50%;
    float: left;
    margin: 2px 1em 0 auto;
    padding: 100px 10px 20px 130px;
    margin-top: 10%;


}

.txt {
    padding: 70px 80px 70px 10px;
}
.img-tres-div .logo {
    object-fit: cover;
}

.logo {
    width: 100%;
    height: 100vh;
}

.uno-dos {
    width: 50%;
    margin: 2px 1em 0 auto;
    padding: 20px 50px 20px;
}

.dos {
    width: 100%;
    height: 90vh;
    /*     background-color: #3E7D99 ; */
}

.titulo {
    color: #5F4D41;
    font-family: Sublima-ExtraBold;

}

.color-letra {
    color: #5F4D41;
    font-family: Sublima-Light;
}

.boton-uno {
    color: white;
    font-weight: 600;
    background-color: #3E7D99;
    border: #3E7D99;
    border-radius: 23px;
    padding: 10px;
    width: 15rem;
    margin-top: 5%;
}

.boton-dos {
    color: #3E7D99;
    font-weight: 600;
    background-color: white;
    border: white;
    border-radius: 23px;
    padding: 10px;
    width: 15rem;

}

.dos-uno {
    float: left;
    width: 50%;

    height: 100%;

}

.dos-dos {
    padding: 100px 50px 20px;
    background-color: #3E7D99;
    height: 100%;
}

.tres {
    background-color: #FDF7F0;
    width: 100%;
    height: auto;
}

.titulo-tres {
    color: #3E7D99;
}

.img-tres-div {
    margin: 0;
    padding: 0%;
    width: 250px;
    height: 250px;
}

.img-tres-div .img-tres {
    object-fit: cover;
}

.img-tres {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.tres-parrafos {
    padding: 10px 130px 30px 130px;
    height: 300px;

}


.tres-tit {
    height: 100px;
    padding: 10% 130px;
}

.cuatro {
    background-image: url(img/Brillante-suave.png);
    width: 100%;
    height: 70vh;
}

.t-cuatro {
    margin-top: 10% !important;
    padding: 10px 60px 20px !important;
}

.cinco {
    width: 100%;
    height: 60vh;
    background-color: #3E7D99;
}

.cinco-uno {
    width: 50%;
    padding: 80px 130px 20px;
    float: left;
    font-size: 20px;
}

.cinco-dos {
    width: 50%;
    float: left;
    padding: 80px 60px 20px;

}

.ico {
    padding-right: 80px;
    float: right;
}

.text {
    float: right;
    text-align: right !important;
}

.iconos {
    background-color: white;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border-radius: 50%;
    color: #3E7D99;
    display: flex;
}

.t-cuatro {
    margin-left: auto;
    margin-left: auto;
}

.cuatro-uno {
    padding: 100px 92px 20px;
    margin-left: auto;
    margin-left: auto;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.cuatro-dos {
    padding: 5px 350px 0px;
    margin-left: auto;
    margin-left: auto;
}

.img-dos {
    width: 90%;
    height: 90vh;

}


@media (max-width: 300px) {
    .txt {
        padding: 10px 0px 5px 5px;
    }

    .uno-uno {
        width: 100%;
        margin: 0;
        padding: 0px 20px 20px;
        margin-top: 10%;
        order: 2;
        min-width: 90% !important;
    }

    .logo {
        width: 300px !important;
        height: 300px !important;
    }

    .txt {
        padding: 20px 20px 20px 10px;
    }

    .boton-dos {
        color: #3E7D99;
        font-weight: 500;
        background-color: white;
        border: white;
        border-radius: 23px;
        padding: 5px;
        min-width: 10rem !important;
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 16px !important;
    }
}


@media (max-width: 700px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .uno {
        width: 100%;
        height: auto;
        background-color: #F2E0D0;
        background-image: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .uno-uno {
        width: 100%;
        margin: 0;
        padding: 0px 20px 20px;
        margin-top: 10%;
        order: 2;

    }

    .uno-dos {
        width: auto;
        order: 0;
        padding: 0;
        margin: 0;

    }

    .logo {
        width: 350px;
        height: 350px;
    }

    .dos {
        width: 100%;
        height: auto;
        background-color: #3E7D99;
    }

    .dos-dos {
        font-size: 15px;
        order: 2;
    }

    .txt {
        display: block;
        font-size: 15px;
        text-align: center;
    }

    .dos-uno {
        margin-right: auto;
        width: 100%;
        order: 1;
        display: table-cell;
        vertical-align: middle;
            }

    .img-dos {
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        border-radius: 50%;
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 20px;

    }

    .color-letra {
        color: #5F4D41;
        font-family: Sublima-Light;
        font-size: 18px !important;
    }

    .tres-parrafos {
        padding: 5px 10px 10px;
        height: auto;
    }

    .par-tres {
        order: 1;
    }

    .img-tres-div {
        order: 0;
        margin: 0;
    }

    .titulo-tres {
        color: #3E7D99;
        font-size: 20px;
    }

    .img-tres {
        border-radius: 50%;
        margin: 0;
    }

    .cinco-uno {
        width: 100%;
        padding: 80px 80px 20px;
        font-size: 20px;
    }

    .cinco-dos {
        width: 100%;
        padding: 80px 60px 20px;

    }

    .cinco {
        width: 100%;
        height: 100vh;
        background-color: #3E7D99;
    }

    .t-cuatro {
        margin-left: auto !important;
        margin-left: auto !important;
    }

    .text {
        text-align: center !important;
    }

    .ico {
        display: flex;
        justify-content: center;
        padding-right: 50px;
    }

    .iconos {
        background-color: white;
        width: 45px;
        height: 45px;
        font-size: 30px;
        border-radius: 50%;
        color: #3E7D99;
        display: flex;
    }

    .tres-tit {
        height: 100px;
        padding: 30% 60px;
    }

    .cuatro {
        background-image: url(img/Brillante-suave.png);
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .cuatro-uno {
        margin-top: 10%;
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .cuatro-dos {
        padding: 2px 10px 150px;
        margin-left: auto;
        margin-left: auto;
    }
    .boton-dos {
        color: #3E7D99;
        font-weight: 500;
        background-color: white;
        border: white;
        border-radius: 23px;
        padding: 5px;
        min-width: 10rem !important;
    }

    .boton-uno {
        color: white;
        font-weight: 500;
        background-color: #3E7D99;
        border: #3E7D99;
        border-radius: 23px;
        padding: 5px;
        min-width: 10rem !important;
    }

    .btn{
        border-radius: 23px !important ;
        padding: 12px 20px 12px 20px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
    }
}

@media (min-width: 800px) {
    .txt{
        font-size: 18px;
        padding: 20px 20px 20px 10px;
    }
   
    .titulo {
       color: #5F4D41;
       font-family: Sublima-ExtraBold;
       font-size: 18px;
   
   }
   
   .color-letra {
       font-size: 1rem !important;
   }
   
   .tres-parrafos {
       padding: 0px 80px 0px 80px;
   }
   
   .img-tres-div {
       margin: 0;
       padding: 0%;
       width: 200px;
       height: 200px;
   }
   
   .img-tres-div .img-tres {
       object-fit: cover;
   }
   
   .img-tres {
       border-radius: 50%;
       width: 200px;
       height: 200px;
   }
   
   .cuatro-dos {
       padding: 5px 300px 0px;
   }
   .btn{
       border-radius: 23px !important ;
       padding: 12px 20px 12px 20px !important;
       background-color: #3E7D99 !important;
       border: #3E7D99 !important;
       font-weight: 600 !important;
   }
   
   }


@media (min-width: 900px) {
 .txt{
     font-size: 18px;
     padding: 20px 20px 20px 10px;
 }

 .titulo {
    color: #5F4D41;
    font-family: Sublima-ExtraBold;
    font-size: 18px;

}

.color-letra {
    font-size: 1rem !important;
}

.tres-parrafos {
    padding: 0px 80px 0px 80px;
}

.img-tres-div {
    margin: 0;
    padding: 0%;
    width: 200px;
    height: 200px;
}

.img-tres-div .img-tres {
    object-fit: cover;
}

.img-tres {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.cuatro-dos {
    padding: 5px 300px 0px;
}
.btn{
    border-radius: 23px !important ;
    padding: 12px 20px 12px 20px !important;
    background-color: #3E7D99 !important;
    border: #3E7D99 !important;
    font-weight: 600 !important;
}

}

@media (min-width: 1100px) {
    .txt{
        font-size: 1.5rem;
        padding: 20px 20px 20px 10px;
    }
   
    .titulo {
       color: #5F4D41;
       font-family: Sublima-ExtraBold;
       font-size: 20px;
   
   }
   
   .color-letra {
       font-size: 1.5rem !important;
   }
   
   .tres-parrafos {
       padding: 0px 80px 0px 80px;
   }
   
   .img-tres-div {
       margin: 0;
       padding: 0%;
       width: 250px;
       height: 250px;
   }
   
   .img-tres-div .img-tres {
       object-fit: cover;
   }
   
   .img-tres {
       border-radius: 50%;
       width: 250px;
       height: 250px;
   }
   
   .cuatro-dos {
       padding: 5px 380px 0px;
   }
   .btn{
    border-radius: 23px !important ;
    padding: 12px 20px 12px 20px !important;
    background-color: #3E7D99 !important;
    border: #3E7D99 !important;
    font-weight: 600 !important;
}
   
   }

   @media (min-width: 1200px) {
    .uno-uno {
        width: 50%;
        float: left;
        margin: 2px 1em 0 auto;
        padding: 100px 50px 30px 130px !important;
        margin-top: 10%;
       
   }

   .text3{
        padding: 100px 0px 30px 130px !important;
   }

   .tres-tit {
    height: 100px;
    padding: 100px 0px 80px 130px !important;
}

.btn{
    border-radius: 23px !important ;
    padding: 12px 20px 12px 20px !important;
    background-color: #3E7D99 !important;
    border: #3E7D99 !important;
    font-weight: 600 !important;
}
   }


.mapa{
    height: 50vh;
    width: 100%;
}


