@font-face {
    font-family: Sublima-ExtraBold;
    src: url(./fuente/Sublima-ExtraBold.otf);
}

@font-face {
    font-family: Sublima-Light;
    src: url(./fuente/Sublima-Light.otf);
}

* {
    margin: 0;
    padding: 0;
}

.bi-play-circle {
    color: white;
    font-size: 1.5rem;
    margin-top: 150px !important;
}

.label-boton {
    font-family: Sublima-ExtraBold;
    font-size: 1rem;
}

.flotante {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #166b8fed;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding-bottom: px;
    text-align: center;
    font-family: Sublima-ExtraBold;
    font-size: 1rem;
    color: white;
}

.modal-header {
    background-color: #3E7D99;
    color: white;
}

.modal-body {
    background-image: url(img/Brillante-suave.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.x {
    color: white !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}


.uno {
    width: 100%;
    height: 90vh;
    background-image: url(img/Brillante-suave.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.uno-uno {
    width: 50%;
    float: left;
    margin: 2px 0 0 auto;
    padding: 180px 10px 20px 130px;
}

.txt {
    padding: 70px 80px 70px 10px;
}

.img-tres-div .logo {
    object-fit: cover;
}

.logo {
    width: 50%;
    margin: 8rem;

}

.uno-dos {
    width: 50%;
    margin: 2px 1em 0 auto;
    padding: 20px 50px 20px;
}

.dos {
    width: 100%;
    height: 90vh;
    /*     background-color: #3E7D99 ; */
}

.titulo {
    color: #5F4D41;
    font-family: Sublima-ExtraBold;

}

.color-letra {
    color: #5F4D41;
    font-family: Sublima-Light;
}

.boton-uno {
    color: white;
    font-weight: 600;
    background-color: #3E7D99;
    border: #3E7D99;
    border-radius: 23px;
    padding: 10px;
    width: 15rem;
    margin-top: 5%;
}

.boton-dos {
    color: #3E7D99;
    font-weight: 600;
    background-color: white;
    border: white;
    border-radius: 23px;
    padding: 10px;
    width: 15rem;

}

.dos-uno {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.dos-dos {
    padding: 100px 50px 20px;
    background-color: #3E7D99;
    height: 100%;
}

.tres {
    background-color: #FDF7F0;
    width: 100%;
    height: auto;
}

.titulo-tres {
    color: #3E7D99;
}

.img-tres-div {
    margin: 0;
    padding: 0%;
    width: 250px;
    height: 250px;
}

.img-tres-div .img-tres {
    object-fit: cover;
}

.img-tres {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.tres-parrafos {
    padding: 10px 130px 30px 130px;
    height: 350px;

}


.tres-tit {
    height: 100px;
    padding: 10% 130px;
}

.cuatro {
    background-image: url(img/Brillante-suave.png);
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.t-cuatro {
    margin-top: 10% !important;
    padding: 10px 60px 20px !important;
}

.cinco {
    width: 100%;
    height: 70vh;
    background-color: #3E7D99;
}

.cinco-uno {
    width: 50%;
    padding: 80px 130px 20px;
    float: left;
    font-size: 20px;
}

.cinco-dos {
    width: 50%;
    float: left;
    padding: 80px 60px 20px;

}

.ico {
    padding-right: 80px;
    float: right;
}

.text {
    float: right;
    text-align: right !important;
}

.iconos {
    background-color: white;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border-radius: 50%;
    color: #3E7D99;
    display: flex;
}

.t-cuatro {
    margin-left: auto;
    margin-left: auto;
}

.cuatro-uno {
    padding: 8% 92px 20px;
    margin-left: auto;
    margin-left: auto;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.cuatro-dos {
    padding: 5px 350px 0px;
    margin-left: auto;
    margin-left: auto;
}

.img-dos {
    width: 90%;
    height: 90vh;
    /* object-fit: cover; */

}



@media (max-width: 300px) {
    .txt {
        padding: 10px 0px 5px 5px;
    }

    .uno-uno {
        width: 100%;
        margin: 0;
        padding: 0px 20px 20px;
        margin-top: 10%;
        order: 2;
        min-width: 90% !important;
    }

    .logo {
        width: 300px !important;
        height: 300px !important;
        margin: 0 !important;
    }

    .txt {
        padding: 20px 20px 20px 10px;
    }

    .boton-dos {
        color: #3E7D99;
        font-weight: 500;
        background-color: white;
        border: white;
        border-radius: 23px;
        padding: 5px;
        min-width: 10rem !important;
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 16px !important;
    }
}


@media (max-width: 700px) {

    #youtube {
        width: 300px;
        height: 215px;
        margin: 2em 35px 2em 35px;
    }

    iframe {
        width: 200px;
        height: 200px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }

    .uno {
        width: 100%;
        height: auto;
        background-color: #F2E0D0;
        background-image: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .uno-uno {
        width: 100%;
        margin: 0;
        padding: 0px 20px 20px;
        margin-top: 10%;
        order: 2;

    }

    .uno-dos {
        width: auto;
        order: 0;
        padding: 0;
        margin: 0;

    }

    .logo {
        width: 250px !important;
        height: 250px !important;
        margin: 1rem !important;
    }

    .dos {
        width: 100%;
        height: auto;
        background-color: #3E7D99;
    }

    .dos-dos {
        font-size: 15px;
        order: 2;
    }

    .txt {
        display: block;
        font-size: 15px;
        text-align: center;
    }

    .dos-uno {
        margin-right: auto;
        width: 100%;
        order: 1;
        display: table-cell;
        vertical-align: middle;
    }

    .img-dos {
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 50px;
        border-radius: 50%;
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 1.2rem;

    }

    .color-letra {
        color: #5F4D41;
        font-family: Sublima-Light;
        font-size: 18px !important;
    }

    .tres-parrafos {
        padding: 5px 10px 10px;
        height: auto;
    }

    .par-tres {
        order: 1;
    }

    .img-tres-div {
        order: 0;
        margin: 0;
    }

    .titulo-tres {
        color: #3E7D99;
        font-size: 1.8rem;
    }

    .img-tres {
        border-radius: 50%;
        margin: 0;
    }

    .cinco-uno {
        width: 100%;
        padding: 80px 80px 20px;
        font-size: 20px;
        height: 60vh;
    }

    .cinco-dos {
        width: 100%;
        padding: 20px 60px;
        height: 30vh;
        background-color: #3E7D99 !important;


    }

    .cinco {
        width: 100%;
        background-color: #3E7D99 !important;
    }

    .t-cuatro {
        margin-left: auto !important;
        margin-left: auto !important;
    }

    .text {
        text-align: center !important;
    }

    .ico {
        display: flex;
        justify-content: center;
        padding-right: 50px;
    }

    .iconos {
        background-color: white;
        width: 45px;
        height: 45px;
        font-size: 30px;
        border-radius: 50%;
        color: #3E7D99;
        display: flex;
    }

    .tres-tit {
        height: 100px;
        padding: 30% 30px;
    }

    .cuatro {
        background-image: url(img/Brillante-suave.png);
        width: 100%;
        height: 60vh;
        padding: 8rem 1rem;
    }

    .cuatro-uno {
        margin-top: 10%;
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .cuatro-dos {
        padding: 2px 10px 150px;
        margin-left: auto;
        margin-left: auto;
    }

    .boton-dos {
        color: #3E7D99;
        font-weight: 500;
        background-color: white;
        border: white;
        border-radius: 23px;
        padding: 5px;
        min-width: 10rem !important;
    }

    .boton-uno {
        color: white;
        font-weight: 500;
        background-color: #3E7D99;
        border: #3E7D99;
        border-radius: 23px;
        padding: 5px;
        min-width: 10rem !important;
    }

    .btn {
        border-radius: 23px !important;
        padding: 12px 20px 12px 20px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
    }
}

@media (min-width: 800px) {
    .txt {
        font-size: 18px;
        padding: 20px 20px 20px 10px;
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 18px;

    }

    .color-letra {
        font-size: 1rem !important;
    }

    .tres-parrafos {
        padding: 0px 80px 0px 80px;
    }

    .img-tres-div {
        margin: 0;
        padding: 0%;
        width: 200px;
        height: 200px;
    }

    .img-tres-div .img-tres {
        object-fit: cover;
    }

    .img-tres {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .cuatro-dos {
        padding: 5px 300px 0px;
    }

    .btn {
        border-radius: 23px !important;
        padding: 12px 20px 12px 20px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
    }

}


@media (min-width: 900px) {
    .txt {
        font-size: 18px;
        padding: 20px 20px 20px 10px;
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 20px;

    }

    .color-letra {
        font-size: 1rem !important;
    }

    .tres-parrafos {
        padding: 0px 80px 0px 80px;
    }

    .img-tres-div {
        margin: 0;
        padding: 0%;
        width: 200px;
        height: 200px;
    }

    .img-tres-div .img-tres {
        object-fit: cover;
    }

    .img-tres {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .cuatro-dos {
        padding: 5px 300px 0px;
    }

    .btn {
        border-radius: 23px !important;
        padding: 12px 20px 12px 20px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
    }

}

@media (min-width: 1100px) {
    #youtube {
        width: 530px;
        height: 415px;
        margin: 2rem 0 2rem 2rem;
        padding: 20px 0 20px 65px;
    }

    .txt {
        font-size: 1.5rem;
        padding: 20px 65px 20px 10px;
        margin: 2rem 2rem 0;
        text-align: justify
    }

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 1.8rem;
    }

    .titulo-tres {
        color: #3E7D99;
        font-size: 1.8rem;
    }

    .color-letra {
        font-size: 1.2rem !important;
    }

    .tres-parrafos {
        padding: 0px 90px 0px 80px;
    }

    .img-tres-div {
        margin: 0;
        padding: 0%;
        width: 250px;
        height: 250px;
    }

    .img-tres-div .img-tres {
        object-fit: cover;
    }

    .img-tres {
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }

    .cuatro-dos {
        padding: 5px 380px 0px;
    }

    .btn {
        border-radius: 23px !important;
        padding: 12px 20px 12px 20px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
    }

    .dos-uno {
        float: left;
        width: 50%;
        height: 100%;
        position: relative;
        padding: 2rem;

    }

    .dos-uno:hover .card-content {
        transform: translateY(0);
        opacity: 1;
    }

    .bi-youtube {
        color: rgba(255, 255, 255, 0.549);
        font-size: 5rem;
    }

    .card-content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #3e7e9979;
        opacity: 0;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}

@media (min-width: 1200px) {
    .uno-uno {
        width: 50%;
        float: left;
        margin: 2px 1em 0 auto;
        padding: 100px 50px 30px 130px !important;
        margin-top: 10%;

    }

    .text3 {
        padding: 50px 10px 25px 60px !important;
    }

    .tres-tit {
        height: 100px;
        padding: 100px 0px 80px 130px !important;
    }

    .btn {
        border-radius: 23px !important;
        padding: 12px 20px 12px 20px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
    }

}


@media (min-width: 3360px) {

    .titulo {
        color: #5F4D41;
        font-family: Sublima-ExtraBold;
        font-size: 3.8rem;
    }

    .color-letra {
        font-size: 3.0rem !important;
    }

    .titulo-tres {
        color: #3E7D99;
        font-size: 3.5rem;
    }

    .txt {
        font-size: 3.5rem;
    }

    .txt-footer {
        font-size: 2.5rem;
    }

    .mapa {
        height: 80vh;
        width: 100%;
    }

    .boton-dos {
        color: #3E7D99;
        font-weight: 500;
        font-size: 2.5rem;
        background-color: white;
        border: white;
        border-radius: 23px;
        padding: 20px;
        min-width: 33rem !important;
    }

    .boton-uno {
        color: white;
        font-weight: 500;
        font-size: 2.5rem;
        background-color: #3E7D99;
        border: #3E7D99;
        border-radius: 23px;
        padding: 20px;
        min-width: 33rem !important;

    }

    .btn {
        border-radius: 23px !important;
        padding: 22px 100px 22px 80px !important;
        background-color: #3E7D99 !important;
        border: #3E7D99 !important;
        font-weight: 600 !important;
        font-size: 2.5rem;
    }
}

.mapa {
    height: 50vh;
    width: 100%;
}